<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="TxContainer">
        <!--<extension type="Interception"/>-->
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Tx.EF.Model.TxContext, Tx.EF.Model"/>
        <register type="Tx.Bussiness.Interface.IStudentService,Tx.Bussiness.Interface" mapTo="Tx.Bussiness.Service.StudentService, Tx.Bussiness.Service">
          
           <!--<constructor>
             <param name="baseDal" type="Tx.Bussiness.Interface.IStudentService,Tx.Bussiness.Interface" />
             <param name="id" type="System.Int32" value="3" />
           </constructor>-->
          <!--<interceptor type="InterfaceInterceptor"/>-->
          <!--<interceptionBehavior type="Ruanmou.EF.Project.AOP.LogBeforeBehavior, Ruanmou.EF.Project"/>
          <interceptionBehavior type="Ruanmou.EF.Project.AOP.LogAfterBehavior, Ruanmou.EF.Project"/>-->
        </register>
        <!--<register type="Ruanmou.Bussiness.Interface.ICommodityService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CommodityService, Ruanmou.Bussiness.Service"/>
        <register type="Ruanmou.Bussiness.Interface.ICompanyUserServcie,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CompanyUserServcie, Ruanmou.Bussiness.Service"/>

        <register type="Ruanmou.Remote.Interface.ISearchService,Ruanmou.Remote.Interface" mapTo="Ruanmou.Remote.Service.SearchService, Ruanmou.Remote.Service">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Ruanmou.Framework.AOP.Behavior.LogBehavior, Ruanmou.Framework"/>
        </register>-->
        <!--<register type="Ruanmou.Bussiness.Interface.ICategoryCommodityService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CategoryCommodityService, Ruanmou.Bussiness.Service">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Ruanmou.Framework.LogBehavior, Ruanmou.Framework"/>
        </register>-->
      </container>

      <container name="ruanmouContainerGeneric">
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Ruanmou.EF.Model.JDDbContext, Ruanmou.EF.Model"/>
        <register type="Ruanmou.Bussiness.Interface.IBaseService`1,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.BaseService`1, Ruanmou.Bussiness.Service"/>
        <register type="Ruanmou.Bussiness.Interface.ICategoryService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CategoryService, Ruanmou.Bussiness.Service"/>
        <register type="Ruanmou.Bussiness.Interface.ICommodityService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CommodityService, Ruanmou.Bussiness.Service"/>
      </container>
    </containers>
  </unity>
</configuration>
