@using TxMvc.Common.Pager
@using Tx.EF.Model

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <ul>
       
    </ul>

    <div class="am-cf">

        @*@Html.ShowPageNavigate(Model.PageIndex, Model.PageSize, Model.TotalCount);*@

    </div>
  
</div>